
.title {
  color: blue;
}

.marcas-patro {
  background-color: #fd460a;
  color: #ffeeee;
  text-align: center;
  font-size: 50px;
  
}

.container1 img{
  width: auto;
  height: 200px;
  justify-content: center;
  text-align: center;
  display: flex;

}

.col{
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;   
  border: 13px solid #ece8e8;
  border-radius: 1%;

  
}

.card-body{ 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(110deg, #fd460a 12%, #f1fe33 500%);
  border: 1px solid #ccc;
  border-radius: 2%;
  
      
}

.col body{
  background-color:rgb(121, 38, 38); ;
}

.col p,h5{
  color: aliceblue;
}

.card p{
  color: aliceblue;
}



.card img{
  height: 310px;
  width: auto;
}

.mision img{
  height: 90%;
  width: 70%;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

.body2{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'dosis';
  color: black;
  background: linear-gradient(600deg, #f1fe33 20%, #fd460a 100%);

}

.containnner{
  position: relative;
  width: 800px;
  min-width: 400px;
  min-height: 250px;
  padding-bottom: 50px;
  overflow: hidden;
}

.wrapper{
  width: 300%;
  /*300% porq tenemos 3 cartas*/
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.cardd{
  width: 1000px;
  min-height: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
}

.card-thumb{
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.client-img{
  width: 100%;
  height: 90%;
  object-fit: cover;

}

.client-name{
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
}

.cardd-body{
  width: 180%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}

.review{
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

.rating{
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star{
  width: 100%;
  margin-right: 15px;
}

.indicators{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.indicators button{
  position: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 5px;
  transition: 5s;
}

button.active{
  width: 40px;
  border-radius: 50px;
  background: #fff;
}

@media (max-width: 800px){
  .containnner{
    width: 50%;
    margin: auto;
  }
  .cardd{
    flex-direction: column;
  }
  .card-thumb{
    width: 100%;
    border-radius: 10px;
  }
  .cardd-body{
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}